.App {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  background-color: rgb(135, 166, 250);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.transaction-form {
  margin-bottom: 20px;
}

.transaction-table {
  margin: 0 auto;
  max-width: 1000px;
}

table {
  text-align: left;
  font-size: 1.2rem;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 12px;
}

table th {
  background-color: #f2f2f2;
}

input[type="text"],
input[type="number"],
input[type="date"],
button {
  margin-right: 10px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background-color: lightskyblue;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 10px;
}

button:hover {
  background-color: #4CAF50;
  color: white;
}

select {
  padding: 10px; 
  padding-right: 10px;
}
